body {
    background-color: black;
}
h1 {
    font-family: 'Gill Sans Extrabold', sans-serif;
}
.intro {
    background-image: url('../images/assets/backgrounds/h_img.jpg');
    background-size: cover;
    text-align: center;
    color: #fff;
}
.Dlogo {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.mouseClick {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.aboutUs {
    text-align: center;
    color: black;
    font-size: small;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.services{
    background-image:url('../images/assets/backgrounds/s_image.jpg');
    background-size: cover;
    text-align: center;
    color: #fff;
    font-size: small;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.hide {
    display: none;
}
.Hover {
    opacity:0;
    background-color: rgba(255, 255, 255, 0.623);
    position: absolute;
    top:25%;
    bottom:25%;
    left:25%;
    right:25%; 
  }
  .custom-info-on-portfolio-images {
    height: 280px;
    max-width: 280px;
    padding:2px;
  }
  .row{
    padding:2%;
  }
  .Contact-Us {
    background-image: url(backgrounds/c_image.jpg);
    background-size:cover;
    display: cover;
    padding: 10%;
  }
  form #contact{
    background-color: rgba(0, 0, 0, 0);
  }
  
  input[type=text] {
    background:transparent;
    color: white;
  }
  textarea[type=text] {
    background:transparent;
    color: white;
  }
  
  .submit{
    position:absolute;
    padding-left: 25%;
  }
  
  .Footer {
    color: black;
    justify-content: center;
    text-align: center;
    font-size: x-small;
    font-family: 'Amaranth', sans-serif;
  }

