body {
    background-color: white;
}
h1 {
    font-family: 'Gill Sans Extrabold', sans-serif;
}
.intro {
    background-image: url('../images/assets/backgrounds/h_img.jpg');
    background-size: cover;
    text-align: center;
    color: #fff;
}
.Dlogo {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.mouseClick {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.aboutUs {
    text-align: center;
    color: black;
    font-size: small;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.hide {
    display: none;
}

